@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
  margin: 0;
  overflow: hidden;
  background: #000;
}
body .dg.ac {
  transition: opacity .35s;
}
body .dg li.title {
  background-color: #1a1a1a;
}
body canvas {
  cursor: default;
}
body canvas:active ~ .dg.ac {
  opacity: .2;
  pointer-events: none;
}
body li, body .close-button {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-transform: capitalize;
}
